<launch>
    <!-- VISUALIZER -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
        <arg name="port" value="9090"/>
    </include>
    <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher"/>

    <!-- LOCALIZATION -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_publisher" args="0 0 0 0 0 0 1 map base_link 100" />
    <node name="localization" pkg="localization" type="localization_node"/>
</launch>
